*,
*::before,
*after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(74, 108, 192, 1) 12%, rgba(74, 108, 192, 1) 16%, rgba(74, 108, 192, 1) 19%, rgba(74, 108, 192, 1) 23%, rgba(0, 188, 212, 1) 46%, rgba(74, 192, 183, 1) 60%, rgba(0, 150, 136, 1) 73%, rgba(74, 108, 192, 1) 83%, rgba(74, 108, 192, 1) 85%, rgba(74, 108, 192, 1) 86%, rgba(74, 108, 192, 1) 88%, rgba(238, 130, 238, 1) 100%);
}
.container{
    width: 90%;
    max-width: 450px;
}
h1{
    color: white;
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.Display-container{
    position: relative;
    background-color: rgb(12, 177, 177);
    border-radius: 1rem;
    border-bottom: 0.35rem solid rgb(75, 75, 75);
}
.display{
    max-width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
}
.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;line-height: 30px;
    color:black;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}

.input-container{
    background-color:  rgb(12, 177, 177);
    border-bottom: 0.35rem solid rgb(85, 85, 85);
    border-radius:1rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    color: aliceblue;
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    color: black;
    font-size:1.5rem ;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p:nth-child(1){
    color: aliceblue;
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35 rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    width: 25px;
    height: 15px;
    border: 1px cyan;
    cursor:pointer;
    border-radius: 0.35rem;
}

.slider{
    appearance: none;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    
}
.copyBTN{
    background-color: none;
    border: none;

}